<h3>Student Details!</h3>

<table *ngIf="studentList" class="table" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList">
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>
            <i class="fa fa-trash" (click)="deleteStudent(student.id)"></i>
            &nbsp;&nbsp;
            <a routerLink="/edit/{{student.id}}"><i class="fa fa-edit"></i></a>
           
        </td>
      </tr>
    </tbody>
  </table>
